.hpOrchid {
  /* fonts */
  --font-allura: Allura;
  --body1-300: Comfortaa;

  /* font sizes */
  --font-size-41xl: 60px;
  --font-size-17xl: 36px;
  --font-size-29xl: 48px;
  --body1-300-size: 20px;
  --body2-500-size: 16px;
  --font-size-20xl: 39px;
  --font-size-4xl: 23px;
  --heading4-500-size: 31px;
  --font-size-lgi: 19px;
  --heading5-500-size: 25px;
  --heading1-300-size: 61px;
  --font-size-18xl: 37px;
  --font-size-30xl: 49px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-101xl: 120px;
  --font-size-11xl: 30px;
  --body3-300-size: 13px;
  --font-size-7xl: 26px;
  --font-size-31xl: 50px;

  /* Colors */
  --color-white: #fff;
  --orchid-500: #e382d3;
  --color-whitesmoke: #efefef;
  --netral-400: #666;
  --netral-300: #4d4d4d;
  --orchid-300: #b70b9d;
  --netral-600: #999;
  --netral-500: #808080;
  --color-mediumvioletred: #a40781;
  --netral-900: #e6e6e6;
  --color-gainsboro-100: #d9d9d9;

  /* Gaps */
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-38xl: 57px;
  --gap-9xl: 28px;
  --gap-smi: 13px;
  --gap-8xs: 5px;
  --gap-12xs: 1px;
  --gap-xl: 20px;
  --gap-3xs-6: 9.6px;
  --gap-41xl: 60px;
  --gap-11xl: 30px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-3xs-7: 9.7px;
  --gap-sm-5: 13.5px;
  --gap-30xl-6: 49.6px;
  --gap-xl-5: 20.5px;
  --gap-51xl: 70px;
  --gap-mid: 17px;
  --gap-16xl: 35px;
  --gap-23xl-6: 42.6px;
  --gap-2xl: 21px;
  --gap-2xs-5: 10.5px;
  --gap-6xl-8: 25.8px;
  --gap-8xs-4: 4.4px;
  --gap-372xl: 391px;
  --gap-35xl: 54px;
  --gap-9xs: 4px;
  --gap-34xl: 53px;
  --gap-53xl: 72px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-10xl: 29px;
  --padding-mini: 15px;
  --padding-6xs: 7px;
  --padding-131xl: 150px;
  --padding-10xs: 3px;
  --padding-xs: 12px;
  --padding-2xs-5: 10.5px;
  --padding-3xs: 10px;
  --padding-24xl: 43px;
  --padding-4xl: 23px;
  --padding-4xs-7: 8.7px;
  --padding-sm-1: 13.1px;
  --padding-sm-4: 13.4px;
  --padding-77xl: 96px;
  --padding-63xl: 82px;
  --padding-smi: 13px;
  --padding-29xl: 48px;
  --padding-30xl: 49px;
  --padding-21xl: 40px;
  --padding-11xl: 30px;
  --padding-16xl: 35px;
  --padding-31xl: 50px;
  --padding-5xl: 24px;
  --padding-11xs: 2px;
  --padding-4xs: 9px;
  --padding-mid: 17px;
  --padding-2xs-2: 10.2px;
  --padding-mini-2: 14.2px;
  --padding-3xs-7: 9.7px;
  --padding-49xl: 68px;
  --padding-126xl: 145px;
  --padding-38xl-7: 57.7px;
  --padding-144xl: 163px;
  --padding-17xl: 36px;
  --padding-6xl: 25px;
  --padding-25xl: 44px;
  --padding-53xl: 72px;
  --padding-19xl: 38px;
  --padding-62xl: 81px;
  --padding-15xl: 34px;
  --padding-6xs-5: 6.5px;
  --padding-61xl: 80px;
  --padding-12xs: 1px;
  --padding-3xl: 22px;
  --padding-2xl: 21px;
  --padding-5xs-4: 7.4px;
  --padding-28xl-9: 47.9px;
  --padding-12xl: 31px;
  --padding-10xs-8: 2.8px;
  --padding-5xs: 8px;
  --padding-18xl: 37px;
  --padding-8xl: 27px;
  --padding-lg: 18px;
  --padding-7xs: 6px;
  --padding-7xl: 26px;
  --padding-8xs: 5px;
  --padding-42xl: 61px;
  --padding-base: 16px;
  --padding-40xl: 59px;
  --padding-56xl: 75px;
  --padding-198xl-2: 217.2px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;  

  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 112px var(--padding-10xs) 60.2px 4px;
  box-sizing: border-box;
  gap: 50.8px;
  line-height: normal;
  letter-spacing: normal;
}

.maskGroupIcon {
  height: 895px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.vectorIcon,
.vectorIcon1 {
  height: 15.3px;
  position: absolute;
  margin: 0 !important;
  top: 382.5px;
  object-fit: contain;
  z-index: 1;
}
.vectorIcon {
  width: 12.4px;
  right: 30.4px;
}
.vectorIcon1 {
  width: 12.2px;
  left: 30px;
}
.vectorIcon2 {
  height: 50.2px;
  width: 40px;
  top: 337px;
  right: 31px;
  object-fit: contain;
  z-index: 2;
}
.maskGroupParent,
.vectorIcon2,
.vectorIcon3 {
  margin: 0 !important;
  position: absolute;
}
.vectorIcon3 {
  height: 50.2px;
  width: 39.4px;
  top: 337px;
  left: 30.6px;
  object-fit: contain;
  z-index: 2;
}
.maskGroupParent {
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.yaAllahThe {
  width: 211px;
  position: relative;
  line-height: 120%;
  display: inline-block;
  z-index: 1;
}
.yaAllahTheMostLovingWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 51px;
}
.withYourBlessing {
  align-self: stretch;
  position: relative;
  font-size: var(--body3-300-size);
  line-height: 120%;
  font-weight: 500;
  color: var(--netral-900);
  z-index: 1;
}
.frameParent,
.hpOrchidInner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.hpOrchidInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-17xl) 19.2px var(--padding-16xl);
  text-align: center;
  font-size: var(--body2-500-size);
  color: var(--color-white);
  font-family: var(--body1-300);
}
.frameChild {
  height: 297px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frameItem {
  height: 4px;
  width: 11px;
  right: 190.3px;
  bottom: 131px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  z-index: 2;
}
.frameGroup,
.frameInner,
.frameItem {
  margin: 0 !important;
  position: absolute;
}
.frameInner {
  height: 14.8px;
  width: 10px;
  right: 35px;
  bottom: 60.2px;
  object-fit: contain;
  z-index: 1;
}
.frameGroup {
  width: 393px;
  top: 8709px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.vectorIcon4 {
  width: 100%;
  height: 9.6px;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorIcon4,
.vectorIcon5,
.vectorParent {
  margin: 0 !important;
  position: absolute;
}
.vectorIcon5 {
  width: 7px;
  height: 3.8px;
  bottom: 0;
  left: 0;
}
.vectorParent {
  height: 14.4px;
  width: 10px;
  top: 2185px;
  right: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.addToCalendar {
  position: relative;
  font-size: var(--body3-300-size);
  line-height: 16px;
  display: inline-block;
  font-family: var(--body1-300);
  color: var(--color-white);
  text-align: center;
  min-width: 112px;
}
.addToCalendarWrapper,
.frameButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs);
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: 9.5px var(--padding-xl);
  background-color: var(--orchid-500);
  border-radius: var(--br-3xs);
  flex-direction: column;
}
.frameDiv,
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.vectorIcon6,
.vectorIcon7 {
  width: 10px;
  height: 9.6px;
  position: relative;
}
.vectorIcon7 {
  width: 7px;
  height: 3.8px;
}
.frameWrapper2,
.vectorGroup {
  display: flex;
  flex-direction: column;
}
.vectorGroup {
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-12xs);
}
.frameWrapper2 {
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 2.6px;
}
.vectorIcon8 {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  min-width: 83px;
}
.groupIcon {
  height: 20px;
  width: 25px;
  position: relative;
  min-height: 20px;
}
.vectorIcon9 {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.vectorContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  min-width: 83px;
}
.frameParent1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 6px;
}
.frameWrapper1 {
  width: 369px;
  flex-direction: row;
  padding: 0 var(--padding-11xl) 2.5px;
  box-sizing: border-box;
  max-width: 100%;
}
.frameContainer,
.frameWrapper1,
.gettingMerriedParent,
.hpOrchid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.gettingMerriedParent {
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  gap: var(--gap-31xl);
  max-width: 100%;
}
.frameContainer,
.hpOrchid {
  position: relative;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
}
